.product-detail-container {
  position: relative;
  padding: 2rem;
  display: flex;
  margin: auto;
  gap: 1rem;
}

.product-images,
.thumbnail-gallery {
  position: sticky;
  top: 0.5rem;
  height: fit-content;
  display: flex;
}

.product-images {
  flex-direction: row-reverse;
  gap: 1rem;
}

.thumbnail-gallery {
  width: 3rem;
  flex-direction: column;
  gap: 0.5rem;
}

.thumbnail {
  border-radius: 0.2rem;
}

.main-image img {
  width: 22rem;
  height: 33rem;
  object-fit: contain;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.color-options {
  display: flex;
  gap: 0.5rem;
}

.color-option {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 0.5rem;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-selector h3 {
  margin-bottom: 0;
}

.quantity-selector button,
.product-details-btn {
  padding: 0.5rem 1rem;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.quantity-selector input {
  width: 3rem;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.quantity-selector input::-webkit-inner-spin-button,
.quantity-selector input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selector button:hover,
.product-details-btn:hover {
  background-color: #005a9e;
}

.purchase-actions {
  display: flex;
  gap: 1rem;
}

.product-tabs,
.related-products {
  padding: 2rem;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  height: 25rem;
  overflow-y: scroll;
  padding: 1rem;
  z-index: 2;
}

h2 {
  text-align: center;
}

.tab-content h3 {
  margin-bottom: 1rem;
}

.tab-content p {
  text-align: justify;
}

.tabs-header {
  height: 0.75rem;
  display: flex;
  align-items: flex-end;
}

.tab-btn {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: none;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  cursor: pointer;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}

.tab-btn.active {
  background-color: #0078d4;
  color: white;
  padding-bottom: 1rem;
  z-index: 1;
}

.specs-table {
  width: 100%;
  border-collapse: collapse;
}

.specs-table th {
  background-color: #f0f0f0;
  padding: 0.5rem;
  text-align: left;
}

.specs-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.review-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.rating-breakdown {
  display: flex;
  gap: 1rem;
}

.user-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}

.review {
  box-shadow: 0 0.5rem 1rem #00000080;
  padding: 1rem;
  background-color: #0078d4;
  color: white;
  border-radius: 0.5rem;
  text-align: left;
  max-width: 25rem;
}

.review-title {
  font-weight: bold;
}

.review-content p {
  text-align: left;
}

#shipping div {
  padding-bottom: 2rem;
}

.fa-star,
.fa-star-half {
  color: #f39c12;
}

.related-products .product-grid {
  grid-template-columns: repeat(3, 1fr);
}
